/* <Cards> */
#cardContainer {
    display: flex;
    flex-wrap: wrap; /* This allows items to wrap to the next line */
    justify-content: flex-start; /* Align items to the left */
}

.cardContent {
    width: 200px;
    height: 100px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0.25rem;
}

.cardContent span {
    display: block;
    font-size: 1rem;
}

.cardContent .grey {
    font-size: 0.85rem;
    color: #999999;
    margin-top: -0.1rem;
}
/* </Cards> */